In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
def read_n_agg(file_name):
    df = pd.read_csv(file_name, encoding='utf-8', sep=';')
    df_incomes = df.groupby('company').agg('mean')
    return df_incomes
read_n_agg('3.7.csv')

                                                income
company
En +                                      9.962187e+10
АО «Александрова, Савельев и Мельникова»  7.206782e+10
АО «Андреев-Анисимов»                     6.931948e+09
АО «Андреев-Макарова»                     8.934380e+10
АО «Большаков Кошелева»                   7.860861e+10
...                                                ...
Щекиноазот                                4.309092e+10
Щукин Лимитед                             6.703036e+10
Эйвон Бьюти Продактс Компани (Avon)       2.503657e+10
Яковлева Инкорпорэйтед                    3.523436e+10
Якушев Лимитед                            3.876468e+10

[289 rows x 1 columns]