In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
user_data = pd.read_csv('user_data.csv', encoding='utf-8')
user_data

      client  premium  age
0      46346    False   58
1       4391    False   55
2      27372    False   64
3      11989    False   44
4      60664    False   49
...      ...      ...  ...
2949   19411    False   29
2950   61579    False   50
2951   61221     True   64
2952   29863    False   46
2953   78499    False   36

[2954 rows x 3 columns]

In [6]:
logs = pd.read_csv('logs.csv', encoding='utf-8')
logs

      client  success  platform        time
0      40177     True     phone  1585412212
1      61468     True     phone  1585425658
2      35604    False     phone  1585459894
3       9961     True     phone  1585400189
4      10931     True  computer  1585468629
...      ...      ...       ...         ...
4495   64496    False  computer  1585459072
4496   73299     True     phone  1585458370
4497    8967     True     phone  1585465121
4498   52880    False     phone  1585455362
4499   40921     True     phone  1585437692

[4500 rows x 4 columns]