In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.DataFrame({'client_id': [9002, 6722, 8799, 8737, 5208],
                  'sex': [1, 1, 1, 0, 0],
                  'wealth': ['medium', 'high', 'high', 'low', 'medium'],
                  'age': [63, 54, 62, 54, 37]})

In [7]:
medium_35 = df.query("wealth == 'medium' & age > 35")
medium_35

   client_id  sex  wealth  age
0       9002    1  medium   63
4       5208    0  medium   37